[Unit]
Description=Presence Alarm Checker
Documentation=https://github.com/venturia/RaspberryPiRelays
After=multi-user.target

[Service]
Type=simple
ExecStart=INSTALLATIONDIRECTORY/script/presencealarmChecker.sh INSTALLATIONDIRECTORY/script/PRESENCEALARMCHECKERCONFIGFILE
Restart=on-failure
RestartSec=180

[Install]
WantedBy=multi-user.target

