[Unit]
Description=Relay Server
After=multi-user.target

[Service]
Type=simple
ExecStart=INSTALLATIONDIRECTORY/script/RelaysServerTest.py -p SERVERPORT -c INSTALLATIONDIRECTORY/script/SERVERCONFIGFILE
Restart=on-failure
RestartSec=180

[Install]
WantedBy=multi-user.target

